*{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
h1 {
  text-transform: uppercase;
  flex: 1;
}
p {
  text-align: center;
}
main {
  flex: 9;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}

h3{
  margin: 10px 0 0 0;
}

#player {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

#player-board{
  width: 100%;
  height: 85%;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#computer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

#computer-board{
  width: 100%;
  height: 85%;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}
#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 15%;
  background-color: grey;
}
#welcome {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
strong {
  font-size: 30px;
}
#shipPlacement {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}

#shipDisplay {
  background-color: aqua;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nameToDisplay {
  text-transform: uppercase;
  font-weight: bold;
}
#lengthToDisplay {
  font-weight: bold;
}
.destroyer {
  width: 30px;
  height: 60px;
  background-color: green;
}
.submarine {
  width: 30px;
  height: 90px;
  background-color: yellow;
}
.cruiser {
  width: 30px;
  height: 90px;
  background-color: pink;
}
.battleship {
  width: 30px;
  height: 120px;
  background-color: purple;
}
.carrier {
  width: 30px;
  height: 150px;
  background-color: brown;
}

.sea{
  border: 1px solid black;
}
#destroyerPart-1 {
}
.sea:hover{
 background-color: red;
}
.selected {
  background-color: red;
}

.miss {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%
}
.hit {
  background: red;
  border-radius: 50%
}