*{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background: url('./images/globebackground.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-transform: uppercase;
  flex: 1;
  font-size: 50px;
  color: whitesmoke;
}
h3 {
  font-size: 30px;
  color: whitesmoke;
}
p {
  text-align: center;
  color: white;
  margin: 0;
}
main {
  flex: 9;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

h3{
  margin: 10px 0 0 0;
}
em {
  font-weight: bold;
}

#player {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

#player-board{
  width: 100%;
  height: 85%;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: rgb(6, 50, 6);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#computer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

#computer-board{
  width: 100%;
  height: 85%;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: rgb(6, 50, 6);
  display: flex;
  flex-wrap: wrap;
}
#information {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 15%;
}
#welcome {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
strong {
  font-size: 30px;
  padding-bottom: 10;
}
button {
  width: 100%;
  height: 10%;
  font-size: 18px;
}

.whosRadar {
  margin-bottom: 10px;
  font-size: 18px;
}
.whosRadar, #playerHitOrMiss, #compHitOrMiss {
  color: rgb(216, 210, 210);
}

#shipPlacement {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}

#shipDisplay {
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(2, 24, 2);
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#nameToDisplay {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: whitesmoke;
}
#lengthToDisplay {
  font-weight: bold;
}
#battleStage {
  display: none;
  height: 90%;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}
#playershots, #computershots {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 24, 2);
  border: 4px solid black;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#displayPlayShot, #displayCompShot {
  border-radius: 50%;
  height: 60%;
  width: 80%;
  background: radial-gradient(circle, #151515 20%, rgb(5, 63, 5) 40%, #151515 40%,
                            rgb(5, 63, 5) 60%, #151515 60%, rgb(5, 63, 5) 80%, #151515 80%);
  border: 2px solid rgba(7, 128, 7,0.2);
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  color: transparent;
}

.displayX, .radar {
  grid-column: 1;
  grid-row: 1;
}

#playerHitOrMiss, #compHitOrMiss {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 10px;
}

.destroyer {
  background-color: orange;
}
.destroyerDisplay {
  width: 40%;
  height: 45%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  background-color: orange;
}
.submarine {
  background-color: yellow;
}
.submarineDisplay {
  width: 40%;
  height: 60%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  background-color: yellow;
}
.cruiser {
  background-color: pink;
}
.cruiserDisplay {
  width: 40%;
  height: 60%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  background-color: pink;
}

.battleship {
  background-color: purple;
}
.battleshipDisplay {
  width: 40%;
  height: 70%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  background-color: purple;
}
.carrier {
  width: 40%;
  height: 75%;
  background-color: brown;
}
.carrierDisplay {
  width: 40%;
  height: 80%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  background-color: brown;
}

.sea{
  border: 1px dashed rgb(7, 128, 7);
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sea:hover{
 background-color: lime;
}
.selected {
  background-color: lime;
}

span {
  font-size: 20px;
}

.miss {
  color: white;
}
.hit {
  color: red;
}

@keyframes clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.radar {
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.radar {
	width: 40%;
	height: 145%;
	animation-name: clockwise;
	animation-timing-function: linear;
	transform-origin: right bottom;
	background: linear-gradient(70deg, transparent 35%, rgb(12, 241, 12)), transparent;
  position: relative;
  top: -100%;
  right: -5%;
}
.displayX {
  height: 100%;
  width: 100%;
}

#buttons {
  position: fixed;
  top: 0;
  right: 10px;
}
li {
  display: inline-block;
}
#howToPlay {
  position: fixed;
  height: 70px;
  right: 80px;
  top: 60px;
  width: 100px;
  color: aliceblue;
  background: transparent;
  text-transform: uppercase;
}

#musicButton, #soundButton {
  background: transparent;
  color: aliceblue;
  height: 30px;
  text-transform: uppercase;
}

#whoWon {
  font-size: 30px;
}
#wonText {
  font-size: 20px;
}

#howToDisplay {
  position: fixed;
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 600px;
  transition: 2s ease;
  color: white;
  background-color: rgb(2, 24, 2);
  border-radius: 20px;
  border: 5px solid black;
}
h2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0px;
  text-transform: uppercase;
}
h4 {
  margin: 10px 0;
  text-transform: uppercase;
  color: red;
}
ul {
  padding: 5px 20px;
  margin: 5px 0;
  text-align: center;
}

#ships {
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: red;
}

#close {
  width: 40%;
  background: transparent;
  text-transform: uppercase;
  color: aliceblue;
}

#start {
  background: rgb(2, 24, 2);
  color: aliceblue;
  border-radius: 10px;
  text-transform: uppercase;
}
#start:hover, #close:hover, #musicButton:hover, #soundButton:hover, #howToPlay:hover {
  color: red;
}

.introText {
  font-size: 20px;
}

#notOnPC {
  display: none;
  font-size: 100px;
  top: 50%
}

@media screen and (min-width: 1850px) {
  .radar {
    height: 225%;
    top: -180%;
  }
  #displayPlayShot, #displayCompShot {
    height: 50%
  }

  h1 {
    font-size: 70px;
  }

  strong, h3 {
    font-size: 50px;
  }
  .introText {
    font-size: 30px;
  }
  #musicButton, #soundButton, #howToPlay {
    font-size: 30px;
  }
  #musicButton, #soundButton {
    height: 40px;
  }
  #howToPlay {
    height: 120px;
    width: 140px;
  }
  #start {
    font-size: 25px;
  }
  #nameToDisplay, #lengthToDisplay {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .whosRadar {
    font-size: 30px;
  }

  #playerHitOrMiss, #compHitOrMiss {
    font-size: 20px;
  }
  #howToDisplay {
    height: 700px;
    width: 800px;
  }
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  li {
    font-size: 20px;
  }
  #whoWon {
    font-size: 50px;
  }
  #wonText {
    font-size: 35px;
  }
}

@media screen and (max-width: 1000px) {
  main {
    display: none;
  }
  #notOnPC {
    display: block;
  }
 #musicButton, #soundButton, #howToPlay {
   display: none;
 } 
}